<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>    
    <fieldset>
        <legend><b>(Employee)</b></legend>
        <form action="/emp/" method="post" autocomplete="off">
            <h3 style="text-align: center;">Employee</h3><br>
            <b>Name : </b><input type="text" name="name" id="" placeholder="Your name" autofocus required><br><br>
            <b>Contact : </b><input type="tel" maxlength="10" name="tel" id="" placeholder="Your contact" required><br><br>
            <b>Address : </b><input type="text" name="add" id="" placeholder="Your address" required><br><br>
            <b>Department : </b><input type="text" name="deprt" id="" placeholder="Your department" required><br><br>
            <b>Salary : </b><input type="number" name="salary" id="" placeholder="Your salary" required><br><br>
            <center>
                <button type="submit">Insert</button>
                <button><a href="/emp/">Go Back</a></button>
            </center>
        </form>
    </fieldset>    
</body>
</html>